@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    

body{
background-color: black;
    color:white; 
    font-family: "Roboto", sans-serif;
}

. escolhidos{
    text-align: center;
    background-color: azul;
    
main{
    backgroud-color: blue;
    color: black 
    max-width 800px;
    margin: 0 autor;
    padding: 16px;

}