@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    

body{
background-color: black;
    color:white; 
    font-family: "Roboto", sans-serif;
}

.escolhidos{
    text-align: center;
    background-color: azul;
}  
main{
    background-color: blue;
    color: black ;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
img { 
    height: 80px;
}
  .texto-post{
    margin-left: 40px;
     
}
button{
    width:100px;
    padding:10px;
    border-radius:10px;
    background-color:blue;
    color: white
    
}

